<table>
  <tr class="header-row">
    <th (click)="sort('name')" class="sortable">Name</th>
    <th (click)="sort('type')" class="sortable">Type</th>
    <th>Operational</th>
    <th>Orbit Type</th>
    <th>Launch Date</th>
  </tr>

  <tr class="displayList" *ngFor="let item of satellites">
    <!-- <li *ngFor="let data of fetchedSatellites">{{ data }}</li> -->

    <td>{{ item.name }}</td>
    <td *ngIf="item.type === 'Space Debris'" class="reded">
      {{ item.type }}
    </td>
    <td *ngIf="item.type !== 'Space Debris'">{{ item.type }}</td>
    <td>{{ item.operational }}</td>
    <td>{{ item.orbitType }}</td>
    <td>{{ item.launchDate }}</td>

    <!-- <td>GPS 938</td>
    <td>Positioning</td>
    <td>true</td>
    <td>HIGH</td>
    <td>2001-11-01</td> -->
  </tr>
</table>

<!-- TODO 2b: use *ngFor to display satellite data in the table -->
<!-- TODO 3b: add style directive to conditionally highlight satellite type -->
